body,html{
    align-items: center;
    justify-content: center;
    background-color: rgb(89, 87, 87);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;

}


.Header-Container{
    width: 100%;
    background-color: #1c4f20;
    padding: 10px 0;
    box-sizing: border-box;
    margin-top: 0px;
    color: white;
}

.Form-Container{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: rgb(54, 208, 208);
    margin-left: 450PX;
    margin-right: 450px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 3px solid black;
}

.No-Items{
    font-weight: bold;
    font-size: 20px;
    color: rgb(226, 57, 57);
}

.Form-Container input{
    border-radius: 3px;
    background-color: bisque;
}
.Form-Container select{
    align-items: center;
}
.Form-Container p{
    margin: 0;
    margin-bottom: 3px;
}
input::placeholder {
    color: rgb(161, 156, 156); 
    
}



.Name-form{
    margin-top: 5px;
    margin-bottom: 5px;
}
.ID-form{
    margin-top: 5px;
    margin-bottom: 5px;
}
.Price-form{
    margin-top: 5px;
    margin-bottom: 5px;
}
.Quantity-form{
    margin-top:5px;
    margin-bottom:5px;
}
.Category-form{
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="text"]{
    font-size: 20px;
    margin-left: 15px;
    max-width: 150px;
    padding-left: 5px;
    background-color: bisque;
    color: black;
}

input[type="number"]{
    font-size: 20px;
    margin-left: 15px;
    max-width: 150px;
    padding-left: 5px;
    background-color: bisque;
    color: black;
}
select{
    width: 150px;
    background-color: rgb(85, 211, 129);
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}


.submit-btn{
    font-size: 1.3rem;
    margin-top: 15px;
    background-color: hsl(120, 79%, 56%);
}

.submit-btn:hover{
    font-size: 1.3rem;
    background-color: hsl(120, 79%, 36%);

}

.Container-btns{
    align-items: center;
    border: 2px solid black;
    background-color: rgb(199, 76, 42);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -10px;
    
}

button{
    font-size: 1.2rem;
    flex: 1;
    background-color: hsl(225, 73%, 78%);
    margin-right: 5px;
    margin-left: 5px;
    border-style: none;
    border-radius: 5px;
    border-width: 3px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
    border: 2px black solid;
}

button:hover{
    transform: translateY(-2px);
}

.Add-btn{
    background-color: hsl(90, 100%, 50%);
}
.Add-btn:hover{
    background-color: hsl(90, 100%, 63%);

}

.Update-btn{
    background-color: hsl(240, 100%, 79%);
}

.Update-btn:hover{
    background-color: hsl(240, 100%, 89%);
}

.Remove-btn{
    background-color: hsl(0, 100%, 50%);
}

.Remove-btn:hover{
    background-color: hsl(0, 100%, 65%);
}

.Display-btn{
    background-color: hsl(60, 98%, 45%) ;
}

.Display-btn:hover{
    background-color: hsl(60, 73%, 65%);
}

.Search-btn{
    background-color: hsl(200, 100%, 50%);
}

.Search-btn:hover{
    background-color: hsl(200, 100%, 60%);
}

.Sort-btn{
    background-color: hsl(38, 95%, 51%);
}

.Sort-btn:hover{
    background-color: hsl(38, 95%, 64%);
}

.DisplayLow-btn{
    background-color: hsl(190, 65%, 53%);
}

.DisplayLow-btn:hover{
    background-color: hsl(190, 65%, 65%);
}

.Itemlist-Container{
    border: 3px solid black;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: rgb(245, 163, 39);

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: rgb(242, 242, 242);
  }
  
  tbody tr:nth-child(even) {
    background-color: hwb(0 98% 2%);
  }
  
  tbody tr:nth-child(odd) {
    background-color: hwb(0 98% 21%);
  }
  
/* CSS for fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Slide from below */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Original position */
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-out;
  }
  
  @keyframes scaleUp {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .scale-up {
    animation: scaleUp 0.2s ease-in;
  }
  
   